.containerTranslationsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .translationBox {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .translationBox h2 {
    margin-top: 0;
  }
  
  .translationBox p {
    margin-bottom: 0;
  }
  