@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

.profile-header {
  font-family: "Aldrich", sans-serif;
  background-color: #fcffe7;
  color: #060047;
  border-radius: 10px;
  border: #060047 1px solid;
  padding: 30px;
  text-align: center;
  padding: 10px;
  text-align: center;
}
